[user]
	name = Miroslaw Baran

[core]
	excludesfile = ~/.gitignore

[color]
	diff = always
	status = always
	branch = always

[merge]
	tool = meld

[diff]
	tool = meld
	compactionHeuristic = true

[difftool]
	prompt = false

[advice]
	ignoredHook = false

[alias]
	branches = branch -a
	branch-name = name-rev --name-only HEAD
	tracking-branch = name-rev --name-only @{upstream}
	id = rev-parse
	up = merge --ff-only
	update = merge --ff-only
	in = !git incoming
	out = !git outgoing
	ci = commit
	co = checkout
	st = status -s -b
	gll = log --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
	root = rev-parse --show-toplevel
	unstage = reset HEAD --
	ctags = "!: ${GIT_DIR:=.git} && ${GIT_DIR}/hooks/ctags"
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git diff-index --quiet HEAD; s=$?; [ $s != 0 ] && git stash save \"tmp stash from stash-rename\"; git stash apply $rev && shift && git stash save \"$@\" && [ $s != 0 ] && git stash pop stash@{1}; }; _"
	pip = "!pip install --upgrade $(git root)"
	generate-version-string = "!_() { ver=\"${1:-0.0}\" && git log -1 --date=format:%Y%m%d --pretty=\"${ver}~git%cd.%h\"; }; _"

[gui]
	fontui = -family Ubuntu -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ubuntu Mono\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0

[init]
	templatedir = ~/.git-template
	defaultBranch = trunk

[difftool "bc3"]
	trustExitCode = true

[mergetool "bc3"]
	trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
