!! proper Xft settings, praised be Powers That Be
Xft.antialias: true
Xft.hinting: true
!Xft.hintstyle: hintslight
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

#if __has_include(".xresources.local")
# include ".xresources.local"
#endif

!! solarized dark
#define S_base03 #002b36
#define S_base02 #073642
#define S_base01 #586e75
#define S_base00 #657b83
#define S_base0 #839496
#define S_base1 #93a1a1
#define S_base2 #eee8d5
#define S_base3 #fdf6e3
#define S_yellow #b58900
#define S_orange #cb4b16
#define S_red #dc322f
#define S_magenta #d33682
#define S_violet #6c71c4
#define S_blue #268bd2
#define S_cyan #2aa198
#define S_green #859900

!! gruvbox dark
!
! hard contrast:
! #define gBackground #1d2021
#define gBackground  #282828
! soft contrast:
! #define gBackground #32302f
#define gForeground  #ebdbb2
! Black + DarkGrey
#define gBlack       #282828
#define gDarkGrey    #928374
! DarkRed + Red
#define gDarkRed     #cc241d
#define gRed         #fb4934
! DarkGreen + Green
#define gDarkGreen   #98971a
#define gGreen       #b8bb26
! DarkYellow + Yellow
#define gDarkYellow  #d79921
#define gYellow      #fabd2f
! DarkBlue + Blue
#define gDarkBlue    #458588
#define gBlue        #83a598
! DarkMagenta + Magenta
#define gDarkMagenta #b16286
#define gMagenta     #d3869b
! DarkCyan + Cyan
#define gDarkCyan    #689d6a
#define gCyan        #8ec07c
! LightGrey + White
#define gLightGrey   #a89984
#define gWhite       #ebdbb2


xterm*.color0:  gBlack
xterm*.color8:  gDarkGrey
xterm*.color1:  gDarkRed
xterm*.color9:  gRed
xterm*.color2:  gDarkGreen
xterm*.color10: gGreen
xterm*.color3:  gDarkYellow
xterm*.color11: gYellow
xterm*.color4:  gDarkBlue
xterm*.color12: gBlue
xterm*.color5:  gDarkMagenta
xterm*.color13: gMagenta
xterm*.color6:  gDarkCyan
xterm*.color14: gCyan
xterm*.color7:  gLightGrey
xterm*.color15: gWhite

xterm*.background: gBackground
xterm*.foreground: gForeground
xterm*.fading: 40
xterm*.fadeColor: gDarkGrey
xterm*.cursorColor: gDarkGreen

!! xterm – the rest
xterm*.utf8: always
xterm*.utf8Fonts: always
xterm*.termName: xterm-256color
xterm*.locale: true
xterm*.eightBitInput: false
xterm*.activeIcon: true

xterm*.saveLines: 9000
xterm*.scrollBar: false
xterm*.scrollKey: true
xterm*.visualbell: true
xterm*.bellIsUrgent: true
xterm*.dynamicColors: true

xterm*.renderFont: true
xterm*.faceName: Iosevka Slab Medium
xterm*.faceSize: 12

xterm*.faceSize1: 6
xterm*.faceSize2: 9
xterm*.faceSize3: 11
xterm*.faceSize4: 14
xterm*.faceSize5: 18
xterm*.faceSize6: 21

xterm*.fullscreen: never
! xterm*.scaleHeight: 1.0
xterm*.charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*.on2Clicks: word
xterm*.on3Clicks: regex [[:alpha:]]+:(\/\/)?([[:alnum:]&!#+,./=?@_~-])+
xterm*.on4Clicks: line
xterm*.selectToClipboard: true
xterm*.VT100*geometry: 110x35
xterm*.VT100*translations: #override \n\
                 !Ctrl <Btn1Down>: exec-formatted("xdg-open '%t'", CLIPBOARD)\n\
                 !Ctrl <Btn1Down>:ignore() \n\
            !Lock Ctrl <Btn1Down>:ignore() \n\
  !Lock Ctrl @Num_Lock <Btn1Down>:ignore() \n\
       !@Num_Lock Ctrl <Btn1Down>:ignore() \n\
                 !Ctrl <Btn2Down>:ignore() \n\
            !Lock Ctrl <Btn2Down>:ignore() \n\
  !Lock Ctrl @Num_Lock <Btn2Down>:ignore() \n\
       !@Num_Lock Ctrl <Btn2Down>:ignore() \n\
                 !Ctrl <Btn3Down>:popup-menu(vtMenu) \n\
            !Lock Ctrl <Btn3Down>:popup-menu(vtMenu) \n\
  !Lock Ctrl @Num_Lock <Btn3Down>:popup-menu(vtMenu) \n\
       !@Num_Lock Ctrl <Btn3Down>:popup-menu(vtMenu)

! rxvt
Rxvt*.color0:  gBlack
Rxvt*.color8:  gDarkGrey
Rxvt*.color1:  gDarkRed
Rxvt*.color9:  gRed
Rxvt*.color2:  gDarkGreen
Rxvt*.color10: gGreen
Rxvt*.color3:  gDarkYellow
Rxvt*.color11: gYellow
Rxvt*.color4:  gDarkBlue
Rxvt*.color12: gBlue
Rxvt*.color5:  gDarkMagenta
Rxvt*.color13: gMagenta
Rxvt*.color6:  gDarkCyan
Rxvt*.color14: gCyan
Rxvt*.color7:  gLightGrey
Rxvt*.color15: gWhite
Rxvt*.background: gBackground
Rxvt*.borderColor: gBackground
Rxvt*.foreground: gForeground
Rxvt*.fading: 40
Rxvt*.fadeColor: gDarkGrey
Rxvt*.cursorcolor: gDarkGreen

Rxvt*.cursorBlink: false
Rxvt*.scrollBar: false
Rxvt*.depth: 32
Rxvt*.enableSmartResize: true
Rxvt*.internalBorder: 7
Rxvt*.font: \
        xft:Iosevka Slab Medium:size=14, \
        xft:PragmataPro:size=14, \
        xft:Noto Mono:size=14, \
        xft:DejaVu Sans Mono:size=14, \
        xft:Unifont:style=medium:size=14
Rxvt*.boldfont: \
        xft:Iosevka Slab Medium:size=14:style=bold, \
        xft:PragmataPro:size=14:style=bold, \
        xft:Noto Mono:size=14:style=bold, \
        xft:DejaVu Sans Mono:size=14:style=bold, \
        xft:Unifont:size=14:style=bold
Rxvt*.italicfont: \
        xft:Iosevka Slab Medium:size=14:style=italic, \
        xft:PragmataPro:size=14:style=italic, \
        xft:Noto Mono:size=14:style=italic, \
        xft:DejaVu Sans Mono:size=14:style=italic, \
        xft:Unifont:size=14:style=italic
Rxvt*.termName: xterm-256color
Rxvt*.geometry: 110x35
Rxvt*.iconName: Terminal
Rxvt*.iconFile: /usr/share/icons/Papirus-GTK/symbolic/apps/utilities-terminal-symbolic.svg

Rxvt*.loginShell: true
Rxvt*.perl-ext-common: eval,default,matcher,confirm-paste
Rxvt*.matcher.urlLauncher: xdg-open
Rxvt*.matcher.button: C-1

Rxvt.keysym.Meta-c: eval:selection_to_clipboard
Rxvt.keysym.Meta-v: eval:paste_clipboard
